.banner {
  background-color: #2c2c54;
  color: white;
  text-align: center;
  padding: 30px 0;
}

.banner-text {
  font-size: 36px;
  margin: 0;
}

.button-column {
  display: flex;
  flex-direction: row; /* legg dem horisontalt */
  justify-content: center; /* midtstill horisontalt */
  align-items: center; /* midtstill vertikalt */
  gap: 15px; /* luft mellom knappene */
  margin-top: 20px;
}

.button-column button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #575fcf;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.button-column button:hover {
  background-color: #3c40c6;
}
